<h1>Contact List</h1>

<div class="search-container">
  <input
    type="text"
    class="search-input"
    placeholder="Enter name or phone"
    [formControl]="searchControl"
  />
  <button
    class="clear-button"
    *ngIf="searchControl.value"
    (click)="searchControl.setValue('')"
  >
    ✖
  </button>
  <button
    mat-raised-button
    class="add-btn"
    color="primary"
    (click)="addContact()"
  >
    Add new
  </button>
</div>

<div *ngFor="let contact of filteredContacts" class="contact-item">
  <div class="contact-info" (click)="viewContactDetail(contact.id)">
    <div>
      <p class="name">{{ contact.firstName }} {{ contact.lastName }}</p>
      <p class="phone">{{ contact.phone }}</p>
    </div>
  </div>

  <div class="contact-actions">
    <button mat-button color="primary" (click)="editContact(contact)">
      Edit
    </button>
    <button mat-button color="warn" (click)="deleteContact(contact)">
      Delete
    </button>
  </div>
</div>
